:host {
  .ng-scrollbar {
    --scrollbar-padding: 1px;
    --scrollbar-size: 5px;
    --scrollbar-thumb-color: #a1a1a1 !important;
    --scrollbar-thumb-hover-color: #a1a1a1 !important;
    --scrollbar-hover-size: calc(var(--scrollbar-size) * 1.5) !important;
  }

  .a, a {
    color: var(--faw-raw--secondary);
    underline: none;
    text-decoration: none;
  }
}

// ng-scrollbar css variables
//.cui-scrollbar {
//  --scrollbar-border-radius: 7px;
//  --scrollbar-padding: 1px;
//  --scrollbar-viewport-margin: 0;
//  --scrollbar-track-color: transparent;
//  --scrollbar-wrapper-color: transparent;
//  --scrollbar-thumb-color: rgba(0, 0, 0, 0.2);
//  --scrollbar-thumb-hover-color: var(--scrollbar-thumb-color);
//  --scrollbar-size: 5px;
//  --scrollbar-hover-size: var(--scrollbar-size);
//  --scrollbar-thumb-transition: height ease-out 150ms, width ease-out 150ms;
//  --scrollbar-track-transition: height ease-out 150ms, width ease-out 150ms;
//}

.tippy-box[data-theme~='tomato'] {
  background-color: tomato;
  color: yellow;
}


html {
  scroll-behavior: smooth;
}
