<div>
  @if (statutPaiement === StatutPaiementEnum.PAYER) {
    <span
      class="tw-py-1 tw-px-2 tw-inline-flex tw-flex-nowrap tw-text-nowrap tw-items-center tw-gap-x-1 tw-font-medium  tw-bg-emerald-100 tw-text-emerald-700 tw-rounded-full"
    >
      {{ statutPaiement }}
    </span>
  } @else if (statutPaiement === StatutPaiementEnum.NON_PAYER) {
    <span
      class="tw-py-1 tw-px-2 tw-inline-flex tw-flex-nowrap tw-text-nowrap tw-items-center tw-gap-x-1 tw-font-medium  tw-bg-orange-100 tw-text-orange-600 tw-rounded-full"
    >

      {{ statutPaiement }}
    </span>
  } @else {
    <span
      class="tw-py-1 tw-px-2 tw-inline-flex tw-flex-nowrap tw-text-nowrap tw-items-center tw-gap-x-1 tw-font-medium  tw-bg-orange-100 tw-text-orange-600 tw-rounded-full"
    >
      {{ StatutPaiementEnum.NON_PAYER }}
    </span>
  }
</div>
